.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.assets--container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.assets--asset {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}