.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  inset: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: linear 150ms opacity;
}

.backdrop--open {
  opacity: 1;
}

.backdrop--closed {
  opacity: 0;
}

.modal--content {
  max-width: 200px;
  width: 200px;
  height: 200px;
  background-color: darkgrey;
  padding: 1rem;
  border-radius: 8px;
}

.modal--content:focus {
  outline: none;
}